NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqY3d5bmpvbHZoaHV6cHVmcGx6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjI5ODUyOCwiZXhwIjoyMDg3ODc0NTI4fQ.eFn27UHkdtEErOkk86NXjqvFqQijGVXorxwF2lBWmJg
NEXT_PUBLIC_VAPID_PUBLIC_KEY=BEEirxh6ByuDb9zTJdu7p6tf4qKJbeNo2YiuPiu66lhJhP9tcSV_Yge3Xu5_B0Zdu_cPz-9ketmStd_qlWPlqHY
VAPID_PRIVATE_KEY=8YsHrV0Z-WaiAJYbODIxLTzyCuvYZh_R43-3twRm15c
VAPID_SUBJECT=mailto: <newlifearjen@gmail.com>
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4.1-mini
